$black: rgb(0, 0, 0);
$grey: rgba(0, 0, 0, 0.6);
$heart-red: rgb(237, 73, 86);

.image-card {
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 2rem;
	background-color: white;
	margin: 0.5rem;
	padding: 1rem;
	box-shadow: 0 0 0.2rem;
}

@media only screen and (max-width: 960px) {
	.image-card {
		width: 100%;
	}
}

.image-title,
.image-date,
.image-description {
	font-family: Helvetica;
	margin: 0.5rem;
}

.image-title {
	font-size: 1.25rem;
	color: $black;
}

.image-date {
	font-size: 1rem;
	color: $grey;
}

.image-description {
	font-size: 1rem;
	text-align: left;
	font-weight: 400;
	line-height: 1.5;
}

.image-media {
	width: 100%;
	aspect-ratio: 16/9;
}

.btn-section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding: 0.5rem;

	.expand-btn,
	.like-btn {
		border-radius: 100%;
		border: 0 solid transparent;
		box-shadow: 0 0 0 transparent;
		cursor: pointer;
		padding: 0.5rem;
		background-color: transparent;
	}

	.liked-btn {
		fill: $heart-red;
	}

	@media (prefers-reduced-motion: no-preference) {
		.expand {
			transform: rotate(0deg);
			transition: transform 0.5s;
		}

		.expand-open {
			transform: rotate(180deg);
		}
	}
}
