* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

.App {
  min-height: 100vh;
  text-align: center;
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-title, .subheader-title {
  font-family: Helvetica;
  font-weight: 400;
}

.header-title {
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 0;
  font-size: 2rem;
}

.subheader-title {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 0;
  padding-bottom: 1.5rem;
  font-size: 1.25rem;
}
